* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: 'Lato', sans-serif !important;
    background-image: url("./assets/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    color: black;
    background: none !important;
}

header img {
    width: 25px;
    height: 25px;
}

.card-title {
    border-bottom: 1px solid #969696 !important;
}

.card-radious {
    border-radius: 1.5rem !important;
}

.card-radious-bottom {
    border-bottom-left-radius:  1.5rem !important;
    border-bottom-right-radius:  1.5rem !important;
}

.card-heigth {
    height: 65vh !important;
}

.buttons button {
    background-color: rgb(161, 223, 174);
    border: none;
    width: 120px;
}

.buttons button:hover {
    background-color: #79A783
    
}
.buttons button:focus {
    box-shadow: 0 0 0 0.25rem rgb(121 167 131 / 50%) !important;
    background-color: #79A783 !important;
}

.buttons button:active {
    background-color: #79A783 !important;
    
}

.final-price {
    height: 60%;
    font-size: 60px;
}