* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: 'Lato', sans-serif !important;
    
}

header {
    color: aliceblue;
}

header img {
    width: 25px;
    height: 25px;
}


.card-square button,.card-trinagle button,.card-circle button {
    width: 100px;
}

.card-radious {
    border-radius: 1.5rem !important;
}